---
interface Props {
  href: string
  class?: string
  size?: 'sm' | 'md' | 'lg'
}
const {href, class: klass = '', size = 'md'} = Astro.props

const padding = {
  'sm': 'p-x-3 p-y-1',
  'md': 'p-x-5 p-y-3',
  'lg': 'p-x-7 p-y-4',
}
const fontSize = {
  'sm': 'text-xs',
  'md': 'text-sm',
  'lg': 'text-md',
}

let fallbackTextColor = klass.match(/text-\w+/g) === null ? 'text-primary' : ''
let fallbackBackgroundColor = klass.match(/bg-\w+/g) === null ? 'bg-white' : ''
---
<a href={href} class=`flex items-center ${padding[size]} rounded-full ${fallbackBackgroundColor}
  transition duration-200 shadow shadow-xl hover:(shadow-sm brightness-[90%])
text-center ${fontSize[size]} ${fallbackTextColor} font-semibold ${klass}`><slot/></a>
